
<div class="container width-medium">

    <panel header="Rolls" ng-hide="game.completed">
        <div class="row margin-bottom-small">
            <die-roll roll="roll" ng-repeat="roll in game.dieRolls | orderBy:'value' "></die-roll>
        </div>

        <div class="row">
            <button class="btn btn-primary text-center" ng-disabled="game.numRolls >= 3" ng-click="reroll()">Reroll</button>

            <span>{{3 - game.numRolls}} rolls remaining</span>
        </div>

    </panel>

    <panel header="Victory!" ng-show="game.completed">
        <div class="row">
            <span>Hooray! {{game.gameSheet.totalScore}} points!</span>
        </div>
    </panel>

    <panel header="Scores">
        <game-sheet sheet="game.gameSheet" update-callback="updateGameSheet"></game-sheet>
    </panel>

</div>